<div class="container-fluid d-flex">

  <div class="col flex-grow-1 p-2 m-2">

    <h3 class="card-title py-2 dm-sans-header">Search for tickets</h3>
    <form class="row mb-4 border py-3" id="search-form">
      <div class="col">
        <input
          type="text"
          id="search-query"
          class="form-control"
          placeholder="Enter artist, venue, or city"
        />
      </div>
      <div class="col">
        <button
          type="submit"
          class="btn btn-contrast hammersmith-one-regular"
        >Search</button>
      </div>
    </form>

    <h3 class="card-title py-2 dm-sans-header">Featured Artist</h3>
    <div class="row border mb-5 featured-artist">
      <div class="col-md-4 text-center">
        <img
          src="/images/{{picNumber}}"
          class="img-fluid rounded-start p-1 pt-3 py-md-3"
          alt="featured artist"
        />
      </div>
      <div class="col-md-8">

        <div class="mt-3">
          <h4 class="mb-3 pt-2 dm-sans-header"><strong>{{featuredBandArtist}}</strong></h4>
          <p class="py-2 mb-3 dm-sans-body">{{featuredBandArtistDesc}}</p>
          {{!-- <p class="py-2 mb-3 dm-sans-body">Get ready to experience sonic magic
            when you see this sultry glam rock band formed by Philadelphia bar
            owners Charlie Kelly and Dennis Reynolds.</p> --}}
        </div>
      </div>
    </div>

    <h3 class="card-title py-2 dm-sans-header">Upcoming Shows</h3>
    <div class="row">
      <div class="col">

        <table class="table dm-sans-body">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Date</th>
              <th scope="col">Artist</th>
              <th scope="col">City</th>
            </tr>
          </thead>
          <tbody>
            {{#each fiveEventsSerial as |fNE|}}
            
              <tr>
                <th scope="row"></th>
                <td>{{format_date event_date}}</td>
                <td>{{artist.artist_name}}</td>
                <td>{{venue.city}}</td>
              </tr>
            
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>

  </div>
  {{#unless logged_in}}
    <aside class="col-auto d-none d-md-block border p-2 my-2 ms-2 dm-sans-body">
      <form class="p-2 login-form">
        <div class="mb-3">
          <label for="username-login" class="d-flex form-label p-1 ps-2 rounded-top"><strong
            >Username</strong></label>
          <input
            type="text"
            id="username-login"
            class="form-control"
            placeholder="Enter your username"
          />
        </div>
        <div class="mb-3">
          <label for="password-login" class="d-flex form-label p-1 ps-2 rounded-top"><strong
            >Password</strong></label>
          <input
            type="password"
            id="password-login"
            class="form-control"
            placeholder="Enter your password"
          />
        </div>
        <button
          type="submit"
          class="btn btn-contrast mt-2 me-1 hammersmith-one-regular"
        >Login</button>
        <a href="/login"><button
            type="button"
            class="btn btn-contrast mt-2 hammersmith-one-regular"
          >Create Account</button></a>
      </form>
    </aside>
  {{/unless}}
</div>

<script src="/js/login.js"></script>
<script src="/js/mainsearch.js"></script>