<div class="m-3">
  <h3>Review Order</h3>
  <div class="row">
    <div class="col">
      <table class="table dm-sans-body mt-1">
        <tbody class="flex-box">
          <thead>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Artist</th>
              <th>City</th>
              <th>Seat Grade</th>
              <th class="text-end">Qty</th>
              <th class="text-end">Price</th>
            </tr>
          </thead>
          <tr>
            <th>Ticket(s) Selected:</th>
            <td>{{format_date purchase.performanceDate.event_date}}</td>
            <td>{{purchase.performanceDate.artist.artist_name}}</td>
            <td>{{purchase.performanceDate.venue.city}}</td>
            <td>{{purchase.ticketPrice.seat_grade_desc}}</td>
            <td class="text-end">{{purchase.seat_count}}</td>
            <td class="text-end">{{format_currency actualTicketPrice}}</td>
          </tr>
          <tbody class="table-group-divider">
            <tr>
              <td colspan="8" class="text-end">
                <tr>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td>Subtotal</td>
                    <td class="text-end">{{format_currency subTotal}}</td>
                  </tr>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td>Sales Tax ({{purchase.customer.state}} resident)</td>
                    <td class="text-end">{{format_currency taxAmount}}</td>
                  </tr>
                  <tr>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td>Fees</td>
                    <td class="text-end">{{format_currency feeAmount}}</td>
                  </tr>
                  <tr class="h4">
                    <td></td><td></td><td></td><td></td><td></td>
                    <td>Total</td>
                    <td class="text-end">{{format_currency totalAmount}}</td>
                  </tr>
            
              </td>
            </tr>
          </tbody>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-end">
      <button type="submit" class="btn btn-contrast my-2 px-3 purchaseBtn" id={{purchase.cust_tix_id}}>Purchase</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/completePurchase.js"></script>