     <h3 class="card-title py-2 dm-sans-header">Purchased Tickets</h3>

     {{#if logged_in}}
      <div class="row border">
         <div class="col">

            <table class="table dm-sans-body">
               <thead>
                  <tr>
                     <th scope="col"></th>
                     <th scope="col">Date</th>
                     <th scope="col">Artist</th>
                     <th scope="col">City</th>
                     <th scope="col">Seat Type</th>
                     <th scope="col">Seats Purchased</th>
                  </tr>
               </thead>
               <tbody>
               {{#each customer.purchases as |purchase| }}
               {{#if purchase.purchased}}
                  <tr>
                     <th scope="row"></th>
                     <td>{{format_date purchase.performanceDate.event_date}}</td>
                     <td>{{purchase.performanceDate.artist.artist_name}}</td>
                     <td>{{purchase.performanceDate.venue.city}}</td>
                     <td>{{purchase.ticketPrice.seat_grade_desc}}</td>
                     <td>{{purchase.seat_count}}</td>
                  </tr>
                  {{/if}}
               {{/each}}
               </tbody>
            </table>
         </div>
      {{else}}
      <h3>You must be logged in to see your purchases</h3>
      {{/if}}