<h3 class="card-title py-2 dm-sans-header">Store</h3>
<div class="row border">
    <div class="col">
        <div><h3>In concert on {{format_date eventDate}}, {{eventArtist}} playing at {{eventVenue}}.</h3><p></p>
        <p>Select the seats to purchase.</p>
        </div>
        <table class="table dm-sans-body">
            <thead>
                <tr>
                    <th scope="col">Seat Grade</th>
                    <th scope="col">Seat Price</th>
                    <th scope="col">Number of Tickets</th>
                </tr>
            </thead>
            <tbody>
                {{#each priceAndSeat as |seat| }}
                <tr>
                    <th scope="row">{{seat.seat}}</th>
                    <td>${{seat.price}}</td>
                    <td>
                        <input type="number" class="numOfTickets" name="quantity" min="0" max="100" id={{seat.grade}}>
                    </td>
                </tr>
                {{/each}}
            </tbody>    
        </table>
        <button type="submit" id="review">Review Order</button>
    </div>
</div>

<script src="./js/scripts.js"></script>