<h3 class="card-title py-2 dm-sans-header">Store</h3>
<div class="row border">
    <div class="col">
        <div>
            <h3>In concert on {{format_date eventDate}}, {{eventArtist}} playing at {{eventVenue}}.</h3>
            <p></p>
            <p>Select the seats to purchase.</p>
        </div>
        <table class="table dm-sans-body">
            <thead>
                <tr>
                    <th scope="col">Seat Grade</th>
                    <th scope="col">Seat Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each priceAndSeat as |seat| }}
                <tr>
                    <td>
                        {{this.seat}}
                    </td>
                    <td>
                        {{this.price}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th scope="col">Select Your Seats </th>
                    <th scope="col"> Number of Tickets</th>
                    <th scope="col" id="eventPK" class="invisible"> {{concertId}} </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id="seatChoice" name="seat">
                            {{#each priceAndSeat as |seat| }}
                            <option id="{{this.grade}}">{{this.seat}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <input id="numOfTickets"type="number" class="numOfTickets" name="quantity" min="0" max="100">
                    </td>
                    <td>
                        <button type="submit" id="review">Review Order</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script src="./js/scripts.js"></script>
